[#include "/app/common/layout/__backstagemainlayout.html"/]
[@mainlayout pageJavascript=pageJavascript pageCss=pageCss currentMenu="templateFlag-templateListFlag"]

<div class="page-header">
	<h1>
		模板管理 
		<small> <i class="ace-icon fa fa-angle-double-right"></i> 模板列表</small>
	</h1>
</div>
<div class="hr hr-dotted"></div>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>编号</th>
				<th>内容</th>
				<th>接收人员</th>
				<th>创建时间</th>
				<th>创建人员</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			[#list templatePage.getList() as template]
			<tr>
				<td>${(template_index+1)!}</td>
				<td>${(template.context)!}</td>
				<td>${(template.receive_userids)!}</td>
				<td>${(template.created_at)!}</td>
				<td>${(template.created_userid)!}</td>
				<td>
					<div class="action-buttons">
					<a class="btn btn-minier btn-primary"  href="${ContextPath}/admin/template/query?id=${(template.id)!}" >查看</a>
					<a class="btn btn-minier btn-primary"  href="${ContextPath}/admin/template/edit?id=${(template.id)!}" >编辑</a>
					</div>
				</td>
			</tr>
			[/#list]
			[#if templatePage.getList().size()!=10]
			[#assign size=(10-templatePage.getList().size())]
				[#list 1..size as t]
					<tr>
						<td>${(templatePage.getList().size()+t)!}</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				[/#list]
			[/#if]
		</tbody>
	</table>
	[#include "/app/common/inc/_paginate.html" /]
	[@paginate currentPage=templatePage.pageNumber totalPage=templatePage.totalPage actionUrl="/admin/template/" /]
[/@mainlayout]