[#include "/app/common/layout/__backstagemainlayout.html"/]
[@mainlayout pageJavascript=pageJavascript pageCss=pageCss currentMenu="templateFlag-templateListFlag"]

<div class="page-header">
	<h1>
		模板管理 
		<small> <i class="ace-icon fa fa-angle-double-right"></i> 模板列表</small>
	</h1>
</div>
<div class="hr hr-dotted"></div>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>编号</th>
				<th>姓名</th>
				<th>账号</th>
				<th>单位</th>
				<th>部门</th>
				<th>职位</th>
				<th>联系电话</th>
				<th>角色</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			[#list templatePage.getList() as template]
			<tr>
				<td>${(template.id)!}</td>
				<td>${(template.context)!}</td>
				<td>${(template.pname)!}</td>
				<td>${(template.uphone)!}</td>
				<td>${(template.remark)!}</td>
				<td>
				[#if template.udeletetime??]
					<b>
					<span class="red">禁用</span>
					[#else]
					<span class="gray">正常</span>
					[/#if]
					</b>
				</td>
				<td>
					[#if (template.uuserid?number)==1]
					[#else]
						<div class="action-buttons">
						<a class="btn btn-minier btn-primary"  href="${ContextPath}/admin/edituser?id=${(user.uuserid)!}" >设置</a>
						[#if template.udeletetime??]
						<a class="btn btn-minier btn-danger"  href="${ContextPath}/admin/onuser?id=${(user.uuserid)!}" >启用</a>
						[#else]
						<a class="btn btn-minier btn-primary"  href="${ContextPath}/admin/offuser?id=${(user.uuserid)!}" >禁用</a>
						</div>
						[/#if]
					[/#if]
				</td>
			</tr>
			[/#list]
			[#if templatePage.getList().size()!=10]
			[#assign size=(10-templatePage.getList().size())]
				[#list 1..size as t]
					<tr>
						<td>${(templatePage.getList().size()+t)!}</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				[/#list]
			[/#if]
		</tbody>
	</table>
	[#include "/app/common/inc/_paginate.html" /]
	[@paginate currentPage=templatePage.pageNumber totalPage=templatePage.totalPage actionUrl="/admin/template/" /]
[/@mainlayout]